# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [105]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.60,-73.97,57.33,98,99,2.36,overcast clouds
1,1,Rikitea,PF,-23.12,-134.97,69.24,58,51,9.59,broken clouds
2,2,Dingle,PH,11.00,122.67,77.14,90,93,2.90,overcast clouds
3,3,Bluff,NZ,-46.60,168.33,34.81,66,86,10.89,light snow
4,4,Butaritari,KI,3.07,172.79,81.70,70,29,8.87,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [47]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Dingle,PH,11.00,122.67,77.14,90,93,2.90,overcast clouds
4,4,Butaritari,KI,3.07,172.79,81.70,70,29,8.87,scattered clouds
7,7,Ishigaki,JP,24.34,124.16,81.81,76,3,6.89,clear sky
11,11,Atuona,PF,-9.80,-139.03,77.13,66,88,8.47,overcast clouds
17,17,Cayenne,GF,4.93,-52.33,89.64,55,0,4.12,clear sky
20,20,Georgetown,MY,5.41,100.34,78.73,93,40,2.06,moderate rain
22,22,Kendari,ID,-3.94,122.50,76.41,90,100,0.13,overcast clouds
23,23,Wenchi,GH,7.74,-2.10,82.38,75,45,0.89,light rain
30,30,Las Vegas,US,36.17,-115.14,82.81,28,0,1.54,clear sky
32,32,Turan,VN,16.07,108.22,80.58,94,40,2.06,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [103]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Dingle,PH,11.00,122.67,77.14,90,93,2.90,overcast clouds
4,4,Butaritari,KI,3.07,172.79,81.70,70,29,8.87,scattered clouds
7,7,Ishigaki,JP,24.34,124.16,81.81,76,3,6.89,clear sky
11,11,Atuona,PF,-9.80,-139.03,77.13,66,88,8.47,overcast clouds
17,17,Cayenne,GF,4.93,-52.33,89.64,55,0,4.12,clear sky
20,20,Georgetown,MY,5.41,100.34,78.73,93,40,2.06,moderate rain
22,22,Kendari,ID,-3.94,122.50,76.41,90,100,0.13,overcast clouds
23,23,Wenchi,GH,7.74,-2.10,82.38,75,45,0.89,light rain
30,30,Las Vegas,US,36.17,-115.14,82.81,28,0,1.54,clear sky
32,32,Turan,VN,16.07,108.22,80.58,94,40,2.06,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

          City Country  Max Temp Current Description    Lat     Lng
2       Dingle      PH     77.14     overcast clouds  11.00  122.67
4   Butaritari      KI     81.70    scattered clouds   3.07  172.79
7     Ishigaki      JP     81.81           clear sky  24.34  124.16
11      Atuona      PF     77.13     overcast clouds  -9.80 -139.03
17     Cayenne      GF     89.64           clear sky   4.93  -52.33
20  Georgetown      MY     78.73       moderate rain   5.41  100.34
22     Kendari      ID     76.41     overcast clouds  -3.94  122.50
23      Wenchi      GH     82.38          light rain   7.74   -2.10
30   Las Vegas      US     82.81           clear sky  36.17 -115.14
32       Turan      VN     80.58    scattered clouds  16.07  108.22

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

          City Country  Max Temp Current Description    Lat     Lng Hotel Name
2       Dingle      PH     77.14     overcast clouds  11.00  122.67
4   Butaritari      KI     81.70    scattered clouds   3.07  172.79
7     Ishigaki      JP     81.81           clear sky  24.34  124.16
11      Atuona      PF     77.13     overcast clouds  -9.80 -139.03
17     Cayenne      GF     89.64           clear sky   4.93  -52.33
20  Georgetown      MY     78.73       moderate rain   5.41  100.34
22     Kendari      ID     76.41     overcast clouds  -3.94  122.50
23      Wenchi      GH     82.38          light rain   7.74   -2.10
30   Las Vegas      US     82.81           clear sky  36.17 -115.14
32       Turan      VN     80.58    scattered clouds  16.07  108.22

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [29]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [94]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Dingle,PH,77.14,overcast clouds,11.00,122.67,SEGAYA PROPERTY
4,Butaritari,KI,81.70,scattered clouds,3.07,172.79,Isles Sunset Lodge
7,Ishigaki,JP,81.81,clear sky,24.34,124.16,Hotel Peace Land Ishigakijima
11,Atuona,PF,77.13,overcast clouds,-9.80,-139.03,Villa Enata
17,Cayenne,GF,89.64,clear sky,4.93,-52.33,Hôtel Le Dronmi
20,Georgetown,MY,78.73,moderate rain,5.41,100.34,Cititel Penang
22,Kendari,ID,76.41,overcast clouds,-3.94,122.50,Hotel Wixel
23,Wenchi,GH,82.38,light rain,7.74,-2.10,Ebenezer Hotel
30,Las Vegas,US,82.81,clear sky,36.17,-115.14,Plaza Hotel & Casino
32,Turan,VN,80.58,scattered clouds,16.07,108.22,Grand Mercure Danang

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [95]:
# Import numpy to replace blank values
import numpy as np
# Replace blanks with "NAN"
hotel_df['Hotel Name']=hotel_df['Hotel Name'].str.strip().replace('',np.nan)

# Drop the rows where there is no Hotel Name
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Dingle,PH,77.14,overcast clouds,11.00,122.67,SEGAYA PROPERTY
4,Butaritari,KI,81.70,scattered clouds,3.07,172.79,Isles Sunset Lodge
7,Ishigaki,JP,81.81,clear sky,24.34,124.16,Hotel Peace Land Ishigakijima
11,Atuona,PF,77.13,overcast clouds,-9.80,-139.03,Villa Enata
17,Cayenne,GF,89.64,clear sky,4.93,-52.33,Hôtel Le Dronmi
20,Georgetown,MY,78.73,moderate rain,5.41,100.34,Cititel Penang
22,Kendari,ID,76.41,overcast clouds,-3.94,122.50,Hotel Wixel
23,Wenchi,GH,82.38,light rain,7.74,-2.10,Ebenezer Hotel
30,Las Vegas,US,82.81,clear sky,36.17,-115.14,Plaza Hotel & Casino
32,Turan,VN,80.58,scattered clouds,16.07,108.22,Grand Mercure Danang

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [96]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [97]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [98]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Peace Land Ishigakijima</dd>\n<dt>City</dt><dd>Ishigaki</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>clear sky and 89.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>moderate rain and 78.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Wixel</dd>\n<dt>City</dt><dd>Kendari</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ebenezer Hotel</dd>\n<dt>City</dt><dd>Wenchi</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>light rain and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Plaza Hotel & Casino</dd>\n<dt>City</dt><dd>Las Vegas</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Mercure Danang</dd>\n<dt>City</dt><dd>Turan</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.58 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [99]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

      Lat     Lng
2   11.00  122.67
4    3.07  172.79
7   24.34  124.16
11  -9.80 -139.03
17   4.93  -52.33
20   5.41  100.34
22  -3.94  122.50
23   7.74   -2.10
30  36.17 -115.14
32  16.07  108.22

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [101]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))